!!!
%html
  %head
    %title Realtime Benchmarks
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/nv.d3.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/index.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300'}
  %body
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{src: "http://js.pusher.com/2.1/pusher.min.js"}
    %script{src: "../js/d3.js"}
    %script{src: "../js/nv.d3.js"}
    %script{src: "../js/Graph.js"}

    %header.main-heading Realtime Benchmarks
    
    %div.timeframe
      I want to see data since
      %input{:type =>"text", :name =>"time", :class => "update-graph-text", :placeholder => "yesterday morning"}
      %input{:type => "submit", :value => "Update", :class => "update-graph-button"}
  
    %div.current-timeframe{ data: { timeframe: "last week" } }

    %section.sidebar
      %div.reliability-sidebar Reliability
      %div.latency-sidebar Ruby Latency
      %div.js-latency-sidebar JS Latency
      %div.ruby-library-speed-sidebar Ruby Library Speed

    %section.content

      %section.reliabilities
        %div.service-reliabilities
          %div.service-reliability
            %div.service-title.pusher-title
              Pusher
            %h3.pusher-reliability-score
          %div.service-reliability
            %div.service-title.pubnub-title
              PubNub
            %h3.pubnub-reliability-score
          %div.service-reliability
            %div.service-title.realtimeco-title
              RealtimeCo
            %h3.realtimeco-reliability-score

      #chart_latency
        %svg

      #chart_js_latency
        %svg

      #chart_speed
        %svg