body {
  font-family: 'Open Sans', sans-serif;
}

textarea, input { 
  outline: none; 
}

.service-reliability {
  float: left;
  text-align: center;
  margin-left: 70px;
}

.reliabilities {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.service-reliabilities {
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  float: left;
  width: 13%;
  font-weight: 600;
  font-size: 1.3em;
}

.content {
  float: left;
  width: 87%;
}

.main-heading {
  text-align: center;
  width: 40%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 2.4em;
}

.reliability-sidebar {
  margin-top: 10%;
  padding-left: 20px;
}

.latency-sidebar {
  margin-top: 240px;
  padding-left: 20px;
}

.js-latency-sidebar {
  margin-top: 460px;
  padding-left: 20px; 
}

.ruby-library-speed-sidebar {
  padding-left: 20px;
  margin-top: 460px;
}

.timeframe {
  font-size: 1.3em;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  margin-bottom: 20px;
}

.current-timeframe {
  display:none
}

input[type=text] {
  padding:5px; 
  border:2px 
  solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.8em;
}

input:focus::-webkit-input-placeholder { 
  color:transparent; 
}

input:focus:-moz-placeholder { 
  color:transparent; 
}

input[type=text]:focus {
  border-color:#d80114; 
}

input[type=submit] {
  padding: 5px 15px; 
  border: 0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  background: #d80114;
  color: white;
  font-size: 0.7em;
}

.pusher-reliability-score {
  color: #ff7f0e;
}

.pubnub-reliability-score {
  color: #3c9fad;
}

.realtimeco-reliability-score {
  color: #ad007b;
}

.pusher-title {
  color: #ff7f0e;
}

.pubnub-title {
  color: #3c9fad;
}

.realtimeco-title {
  color: #ad007b;
}

#chart_latency svg {
  height: 500px;
}

#chart_js_latency svg {
  height: 500px;
}

#chart_speed svg {
  height: 500px;
}